---
import Layout from '@/layouts/Layout.astro';
import TopMenu from '@/components/TopMenu.astro';
import WorkExperience from '@/components/WorkExperience.astro';
---

<!-- DISEÑO: https://www.canva.com/templates/EAGCr_pviwM-black-white-minimalist-cv-resume-a4-document/ -->
<Layout title="Portfolio">
	<main>
	<TopMenu/>
	<WorkExperience/>
	</main>
</Layout>

<style>
</style>
